<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Lpu</title>
    <style>
        body {
            background: url("/static/a.jpg") no-repeat center center fixed;
            background-size: cover;
            color: white;
            /* text color */
        }

        .overlay {
            background: rgba(0, 0, 0, 0.6);
            /* dark overlay for readability */
            padding: 20px;
            border-radius: 10px;
        }
    </style>
</head>

<body>
    <div class="overlay container mt-5">
        {% for item in lpu %}
        <div class="mb-4">
            <h2>{{ item['title'] }}</h2>
            <p class="lead"><strong>Requirements:</strong> {{ item['requirements'] }}</p>
            <p class="lead"><strong>Description:</strong> {{ item['description'] }}</p>
            <p class="lead"><strong>Fees:</strong> {{ item['fees'] }}</p>
            <button type="button" class="btn btn-outline-primary">Apply Now</button>
        </div>
        {% endfor %}
    </div>
</body>

</html>